.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 390px;
  color: $text-color;

  label {
    margin: 5px;
  }

  input[type="text"], input[type="date"], select {
    width: 100%;
  }


  .invalid {
    border: 2px solid red;
  }
    
  .error {
    color: red;
  }

}