/// @type Color
$main-color: #524340;
$main-lighter: #655655; 
$second-color: #A54336;
$second-color-lighter: #B2564A;
$text-color: #FFFFFF;
$text-color-darker: #6F1408;
$second-color-darker: #8C3024;
$second-color-more-darker: #8C3024;
$button-light: #eed9d9;

/// Container's maximum width
/// @type Length
$max-width: 1600px !default;
$wrapper-width: 1160px;
$small-desktop-width: 1599px;
$tablet-width: 999px;
$mobile-width: 639px;