#page_container {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  gap: 50px;
  justify-content: center;

}
//filter start

.filters {
  flex-basis: 25%;
  flex-shrink: 2;
  max-width: 320px;

  &-wrapper {
    padding: 5px 0 0;
    background: $second-color;
    border-radius: 35px 35px 22px 22px;
  }

  &-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
  }
}
.selections {
  flex-grow: 1;
  height: 195px;
  margin-bottom: 10px;
  overflow: auto;

  &-name {
    margin: 5px 0;
    text-align: center;
    color: #FFFFFF;
  }

  &-variants {
    margin: 0;
    padding: 10px 5px;
    list-style: none;
    background: $second-color-lighter;
    box-shadow: 0px -9px 22px rgba(159, 40, 24, 0.56);
    border-radius: 0px 22px;

    &__item {
    display: flex;
    justify-content: start;
    color: #211f1f;
    }

    &__name {
      margin-left: 5px;
    }
  
    &__count {
      display: inline-block;
      justify-self: end;
      margin-left: auto;
    }
  
  }
}

.range {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &-wrapper {
    padding: 4px 10px 16px;
    background: $second-color-lighter;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -9px 16px rgba(159, 40, 24, 0.52);
    border-radius: 106px;
  }
}

.range-sliders {
  position: relative;
}

.range-values {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="range"] {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  background-color: $second-color-darker;
  pointer-events: none;
}

.min-value {
  height: 0 !important;
  z-index: 1;
}

//filter ends

//product start
.products {
  width: 75%;
  background-color: $second-color;
  border-radius: 35px 35px 35px 35px;

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px;
  }

  &-found {
    color: #FFFFFF;
  }

  &-list {
    margin: 0;
    padding: 30px 0;
    background: $main-lighter;
    border-radius: 35px 0px 35px 35px;
  }
}

.product-select__options, .products-search__input {
  color: #FFFFFF;
  background: #BD6054;
  box-shadow: 0px 4px 9px rgba(129, 41, 25, 0.6);
  border-radius: 55px;
  cursor: pointer;

  &::placeholder {
    text-align: center;
    color: #FFFFFF;
  }
}



.card-mode {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(50% - 20px);
    max-width: 320px;
    overflow: hidden;
    background: $second-color-lighter;    
    box-shadow: 5px 8px 36px #3A1E17;
    border-radius: 35px 0px 35px 0px;
    cursor: pointer;

    &__name {
      display: block;
      width: 100%;
      padding-top: 5px;
      color: #FFFFFF;
      text-align: center;
      background: $second-color;
    }
    &__price {
      display: block;
      width: 100%;
      color: #FFFFFF;
      padding-bottom: 5px;
      text-align: center;
      background: $second-color;
    }

    &__image-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      width: 291px;
      height: 182px;

      .image-wrapper__img {
        height: 100%;
        width: auto;
        max-width: 90%;
      }
    }

    &__buttons-wrapper {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-bottom: 10px;
    }

    &__information {
      display: flex;
      flex-wrap: wrap;
      padding: 5px;
      height: 84px;
      color: #211f1f;
      
      span {
        width: 50%;
      }
    }
  }
}

.list-mode {
  display: flex;
  flex-wrap: wrap;

  .item {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    height: 200px;
    padding: 10px 5px;
    margin: 10px 0;
    background: $second-color-lighter;    
    box-shadow: 5px 8px 36px #3A1E17;
    border-radius: 35px 0px 35px 0px;
    cursor: pointer;

    &__name {
      display: block;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      height: 40%;
      color: #FFFFFF;
    }

    &__price {
      grid-row: 1 / 3;
      grid-column: 3 / 4;
      color: #FFFFFF;
    }

    &__image-wrapper {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      display: flex;
      justify-content: center;
      width: 291px;
      height: 182px;

      .image-wrapper__img {
        height: 100%;
        width: auto;
        max-width: 90%;
      }
    }

    &__information {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      display: flex;
      flex-direction: column;
      height: 40%;
    }
    &__buttons-wrapper {
      grid-row: 1 / 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 1rem;
      
      .item__button {
        width: 100%;
        margin: 0 auto;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 80%;
        white-space: nowrap;
      }
    }
  }
}

.red-border {
  border: 1px solid rgb(243, 242, 242);
}

//product ends

//view modes

.products-view-mode {
  display: flex;
  align-items: center;
}

.view__list {
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;

  .view__list-line {
    position: absolute;
    display: inline-block;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;	
    border-radius: 2px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
  }

  &:before {
    position: absolute;
    content: "";
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
  }
}

.view__card {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-left: 10px;
  width: 18px;
  height: 18px;
  font-size: 16px;
  cursor: pointer;

  &-dot {
    display: inline-block;
    white-space: nowrap;
    width: 20%;
    height: 20%;
    margin: 6.65%;
    font-size: 50%;
    border-radius: 100%;
    overflow: hidden;
    color: #FFFFFF;
    background-color: #FFFFFF;
  }
}

.hide {
  display: none;
}

.invalid {
  border: 2px solid red;
}

.error {
  color: red
}